Source: ros-jazzy-rosidl-typesupport-fastrtps-cpp
Section: misc
Priority: optional
Maintainer: Shane Loretz <sloretz@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-jazzy-ament-cmake-gtest <!nocheck>, ros-jazzy-ament-cmake-pytest <!nocheck>, ros-jazzy-ament-cmake-python, ros-jazzy-ament-cmake-ros, ros-jazzy-ament-index-python, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-common <!nocheck>, ros-jazzy-fastcdr, ros-jazzy-fastrtps-cmake-module, ros-jazzy-osrf-testing-tools-cpp <!nocheck>, ros-jazzy-performance-test-fixture <!nocheck>, ros-jazzy-rcutils <!nocheck>, ros-jazzy-rmw, ros-jazzy-rosidl-cli, ros-jazzy-rosidl-runtime-c, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-rosidl-typesupport-fastrtps-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-dev, ros-jazzy-ament-cmake-ros, ros-jazzy-ament-index-python, ros-jazzy-fastcdr, ros-jazzy-fastrtps-cmake-module, ros-jazzy-rmw, ros-jazzy-rosidl-cli, ros-jazzy-rosidl-generator-c, ros-jazzy-rosidl-generator-cpp, ros-jazzy-rosidl-pycommon, ros-jazzy-rosidl-runtime-c, ros-jazzy-rosidl-runtime-cpp, ros-jazzy-rosidl-typesupport-interface, ros-jazzy-ros-workspace
Description: Generate the C++ interfaces for eProsima FastRTPS.
